*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text-color: #111;
}

html {
    scrollbar-gutter: stable;
}

body {
    margin: 1rem;
    font-size: large;
    color: var(--text-color);
    background-color: #fffdf8;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.centered-constrained {
    max-width: 50rem;
    margin: 0 auto;
}

a {
    color: rgb(33, 125, 45);
}

pre {
    padding: 1rem;
}

sup,
sub {
    line-height: 0;
    /* Prevent superscripts and subscripts from making line height uneven */
}

/* https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
