*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text-color: #111;
}

html {
    scrollbar-gutter: stable;
}

body {
    margin: 1rem;
    font-size: large;
    color: var(--text-color);
    background-color: #fffdf8;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.centered-constrained {
    max-width: 50rem;
    margin: 0 auto;
}

a {
    color: rgb(33, 125, 45);
}

pre {
    padding: 1rem;
}
