---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = import.meta.glob("./blog/*.md", { eager: true });
---

<BaseLayout title="Blog" description="My thoughts on random things.">
    <ul>
        {
            Object.values(posts)
                .sort(
                    (a: any, b: any) =>
                        Date.parse(b.frontmatter.date) -
                        Date.parse(a.frontmatter.date),
                )
                .map((post: any) => (
                    <li>
                        <h4>
                            <a href={post.url}>{post.frontmatter.title}</a>
                        </h4>
                        <time datetime={post.frontmatter.date.split("T")[0]}>
                            {new Date(post.frontmatter.date).toLocaleString(
                                "en-US",
                                {
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric",
                                    timeZone: "UTC",
                                },
                            )}
                        </time>
                        <span> ‧ </span>
                        {post.frontmatter.summary}
                    </li>
                ))
        }
    </ul>
</BaseLayout>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li + li {
        margin-top: 1rem;
    }

    h4 {
        margin-bottom: 0.1rem;
    }
</style>
