---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.summary}>
    <article>
        <h1>{frontmatter.title}</h1>
        <time datetime={frontmatter.date.split("T")[0]}>
            {
                new Date(frontmatter.date).toLocaleString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    timeZone: "UTC",
                })
            }
        </time>
        <slot />
    </article>
    <script
        data-astro-rerun
        id="giscus-script"
        src="https://giscus.app/client.js"
        data-repo="danielzting/danielzting.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNDM5NDEyMTc="
        data-category="Announcements"
        data-category-id="DIC_kwDOFIAgYc4Cx3Zr"
        data-mapping="pathname"
        data-strict="0"
        data-theme="gruvbox_dark"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async></script>
</BaseLayout>

<style>
    time {
        display: inline-block;
        padding-bottom: 1rem;
    }

    /* Prevent the CRT flickering effect from affecting giscus, since it's more intrusive visually */
    html.dark .giscus {
        position: relative;
        z-index: 9;
    }
</style>

<script data-astro-rerun>
    function updateGiscusTheme() {
        const theme = localStorage.getItem("lightTheme")
            ? "gruvbox_light"
            : "gruvbox_dark";

        const giscus = document.getElementById("giscus-script");
        giscus.setAttribute("data-theme", theme);
    }
    updateGiscusTheme();
    window.addEventListener("astro:after-swap", updateGiscusTheme);
</script>
