---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.summary}>
    <article>
        <h1>{frontmatter.title}</h1>
        <p>
            {
                new Date(frontmatter.date).toLocaleString("en-US", {
                    year: "numeric",
                })
            } · {frontmatter.category}
        </p>
        <slot />
    </article>
</BaseLayout>
